.new-tweet {
    border-radius: 10px;
    background: #D3D3D3;
    padding: 10px;
    width: 100%;
    height: 180px;
    /*margin: -15px;*/
}

h2 {
    padding-bottom:3px;
}

.counter {
    float: right;
}

textarea{
    width: 100%;
    padding: 3px;
    position: relative;
}

